<%= form_for(@owned_device) do |f| %>
  <% if @owned_device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owned_device.errors.count, "error") %> prohibited this owned_device from being saved:</h2>

      <ul>
      <% @owned_device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.number_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :personal_device_name %><br>
    <%= f.text_field :personal_device_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
