<p id="notice"><%= notice %></p>

<h1>Listing Owned Devices</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Device</th>
      <th>Personal device name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owned_devices.each do |owned_device| %>
      <tr>
        <td><%= owned_device.user_id %></td>
        <td><%= owned_device.device_id %></td>
        <td><%= owned_device.personal_device_name %></td>
        <td><%= link_to 'Show', owned_device %></td>
        <td><%= link_to 'Edit', edit_owned_device_path(owned_device) %></td>
        <td><%= link_to 'Destroy', owned_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owned device', new_owned_device_path %>
