<p id="notice"><%= notice %></p>

<h1>Listing Chargers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Charger photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chargers.each do |charger| %>
      <tr>
        <td><%= charger.name %></td>
        <td><%= charger.charger_photo %></td>
        <td><%= link_to 'Show', charger %></td>
        <td><%= link_to 'Edit', edit_charger_path(charger) %></td>
        <td><%= link_to 'Destroy', charger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charger', new_charger_path %>
