<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charger.name %>
</p>

<p>
  <strong>Charger type:</strong>
  <%= @charger.charger_type %>
</p>

<%= link_to 'Edit', edit_charger_path(@charger) %> |
<%= link_to 'Back', chargers_path %>
