<p id="notice"><%= notice %></p>

<h1>Listing Owned Chargers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Charger</th>
      <th>Personal charger name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owned_chargers.each do |owned_charger| %>
      <tr>
        <td><%= owned_charger.user_id %></td>
        <td><%= owned_charger.charger_id %></td>
        <td><%= owned_charger.personal_charger_name %></td>
        <td><%= link_to 'Show', owned_charger %></td>
        <td><%= link_to 'Edit', edit_owned_charger_path(owned_charger) %></td>
        <td><%= link_to 'Destroy', owned_charger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Owned charger', new_owned_charger_path %>
