<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @owned_charger.user_id %>
</p>

<p>
  <strong>Charger:</strong>
  <%= @owned_charger.charger_id %>
</p>

<p>
  <strong>Personal charger name:</strong>
  <%= @owned_charger.personal_charger_name %>
</p>

<%= link_to 'Edit', edit_owned_charger_path(@owned_charger) %> |
<%= link_to 'Back', owned_chargers_path %>
